@import "../../styles/typography";

.process {

}

.processTitle {
  font-family: $tp-heading;
  font-weight: $fn-weight--bold;
  font-size: 5.6rem;
  text-align: center;
  margin-bottom: 6.8rem;
  color: #274fc4;
}

.deskresearch {
  margin-bottom: 10.8rem;
}

.deskresearchCard {
  width: 100%;
  height: 54.2rem;
  padding: 2.2rem;
  border-radius: 2rem;
  border: .2rem solid #274fc4;
}

.deskresearchCardTitle,
.deskresearchCardText {
  text-align: center;
}

.deskresearchCardTitle {
  margin-bottom: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #274fc4;
}

.deskresearchCardText {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 2.6rem;
}

.deskresearchCardText:last-child {
  margin-bottom: 0;
}

.smallTitle {
  font-size: 3.2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #274fc4;
  letter-spacing: .2rem;
  text-align: center;
  margin-bottom: 6.2rem;
}

.smallTitleWhite {
  color: #274fc4;
}

.smallTitleResearch {
  margin-bottom: 4.2rem !important;
}

.designGuideline {
  display: flex;
  align-items: center;
  // min-width: 55rem;
}

.designGuidelines {
  padding-top: 10.8rem;
  padding-bottom: 10.8rem;
  background-color: #f7faff;
}

.designGuideLineIcon {
  width: 5.2rem;
  height: 5.2rem;
  margin-right: 4.2rem;
}

.designGuideline:nth-child(1),
.designGuideline:nth-child(2),
.designGuideline:nth-child(3)
{
  margin-bottom: 6.8rem;
}

.designGuidelinesWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.designGuidelinesCol2 {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

.designGuideLinesCol3 {
  position: relative;
  display: flex;
  align-items: center;
}

.designGuidelineText {
  color: #274fc4;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 2rem;
}

.designGuidelineArrow {
  width: 12rem;
  transform: scaleX(-1);
}

.designGuidelinesShape {
  position: relative;
  width: 100%;
  height: 28rem;
  background-color: #274fc4;
}

.designGuidelinesShape2 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 2.4rem;
  right: 3rem;
  width: 100%;
  height: 28.2rem;
  background-color: #7292e0;
  padding: 5rem;
}

.designGuideLinesShapeText {
  font-family: $tp-custom-font-heading;
  font-size: 2.2rem;
  font-weight: 700;
  color: white;
  text-align: center;
}

.deskresearchText,
.deskresearchSubtitle {
  font-family: 'Open Sans', sans-serif;
}

.deskresearchText {
  font-size: 1.8rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 2.8rem;
}

.deskresearchContent {
  max-width: 83rem;
  margin: auto;
  margin-bottom: 10.2rem;
}

.deskresearchSubtitle {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.2rem;
  color: #274fc4;
}

.deskresearchColumn1 {
  margin-bottom: 6.4rem;
}

.concepts {
  padding-top: 10.8rem;
  padding-bottom: 10.8rem;
}

.conceptImage {
  width: 40rem;
}

.smallTitle {
  font-size: 3.2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #274fc4;
  letter-spacing: .2rem;
  text-align: center;
  margin-bottom: 6.2rem;
}

.smallTitleFinal {
  margin-top: 10.8rem;
}

.storyboard {
  padding-top: 10.8rem;
  display: flex;
  justify-content: center;
}

.storyboardImage {
  max-width: 95rem;
  margin: 0 auto;
}

.storyboardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.interfaceDesign {
  padding-top: 10.8rem;
  background-color: #f7faff;
}

.interfaceDesignApp {
  padding-top: 10.8rem;
  padding-bottom: 10.8rem;
  background-color: #f7faff;
}

.interfaceDesignAppRow1 {
  margin-bottom: 4.2rem;
}

.interfaceDesignAppRow2 {
  margin-bottom: 12.8rem;
}

.interfaceDesignContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.interfaceDesignImage {
  max-width: 120rem;
  margin: 0 auto;
}
.interfaceDesignAppImage {
  max-width: 18rem;
}
