@import "bootstrap/dist/css/bootstrap.css";


/**
 * 10px = 1rem (:10)
 */

 p {
   margin: 0;
 }

 html {
  font-size: 62.5%;
}

 body {
  margin: 0;
  overflow-x: hidden;
}

.container {
  /* position: relative;
  width: 100%;
  max-width: 1540px;
  padding: 0 3.2rem;
  margin: 0 auto;
  background-color: blue; */
  max-width: 1440px;
}

.title {
  font-size: 1rem;
}

.juxtaposeImage {
  width: 2rem;
}

/**
 * Typography
 */
