@import "bootstrap/dist/css/bootstrap.css";

/**
 * 10px = 1rem (:10)
 */

 p {
   margin: 0;
 }

 html {
  font-size: 62.5%;
}

 body {
  margin: 0;
}

.container {
  /* position: relative;
  width: 100%;
  max-width: 1540px;
  padding: 0 3.2rem;
  margin: 0 auto;
  background-color: blue; */
}

.title {
  font-size: 1rem;
}
