@import "../../styles/typography";

.concepts {
  padding-top: 10.8rem;
  padding-bottom: 10.8rem;
}

.conceptImage {
  width: 40rem;
}

.smallTitle {
  font-size: 3.2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #274fc4;
  letter-spacing: .2rem;
  text-align: center;
  margin-bottom: 4.2rem;
}

.smallTitleFinal {
  margin-top: 10.8rem;
}
